[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openpyxl = "*"
Jinja2 = ">=2.10.1"
e1839a8 = {path = ".",editable = true}
pyexcel-ods = "*"
urllib3 = ">=1.24.2"

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
"flake8" = "*"
twine = "*"
tox = "*"
changelog-cli = "*"
bump2version = "*"
pytest-cov = "*"
coveralls = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
