[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openpyxl = "*"
odswriter = "*"
jinja2 = "*"
e1839a8 = {path = ".",editable = true}
pyexcel-ods = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
"flake8" = "*"
twine = "*"
tox = "*"

[requires]
python_version = "3.7"
