-i https://pypi.org/simple
-e .
certifi==2018.10.15
chardet==3.0.4
et-xmlfile==1.0.1
ezodf==0.3.2
idna==2.7
jdcal==1.4
jinja2==2.10
lxml==4.2.5
markupsafe==1.0
odswriter==0.4.0
openpyxl==2.5.9
requests==2.20.0
urllib3==1.24
